<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/home"><img class="logo" src="../../../../assets/icons/logo.png" alt="logo" loading="lazy"><span class="display-7  ms-2"><b>TEXT CONVETO</b></span></a>
      
      <!-- Toggler for mobile view -->
      <i class="bi d-lg-none d-xl-none"
      [ngClass]="{'bi-list': !isMenuOpen, 'bi-x': isMenuOpen}" 
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarAdvanced"
      aria-controls="navbarAdvanced"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggle()">
   </i>

      <!-- </button> -->
  
      <!-- Navbar links and profile -->
      <div class="collapse navbar-collapse" id="navbarAdvanced">
        <!-- Navigation Menu -->
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"  routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarAdvanced">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/online-text-editor" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarAdvanced">Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarAdvanced">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarAdvanced">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarAdvanced">Blog</a>
      </li>
    </ul>
  
        <!-- Profile Section with Dropdown -->
         <div></div>
      </div>
    </div>
  </nav>
  