.nav-item {
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  letter-spacing: 1px;
}
.active {
<<<<<<< HEAD
  color: rgb(6, 150, 83) !important;
=======
  color: rgb(238, 12, 12) !important;
>>>>>>> fc63e09fb9dedd936c87d020b7bba3b9c88a3d3b
}
